@import '../../shared';

.hero {
    &__grid-container {
        display: flex;
        flex-direction: column;
    }

    &__grid-image {
        max-width: 100%;
        height: 232px;
        margin: 26px auto 32px;
    }

    &__h2,
    &__p {
        margin-left: 37px;
    }


    &__h2 {
        font-size: 36px;
        font-weight: 600;
    }

    &__p {
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        color: $text-black;
        margin-top: 16px;
        width: 320px;
    }

    @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
}